---
import BaseHead from "@/components/BaseHead.astro";
import SkipLink from "@/components/SkipLink.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";
import Header from "@/components/layout/Header.astro";
import Footer from "@/components/layout/Footer.astro";
import LanguageDetectionBanner from "@/components/LanguageDetectionBanner.astro";
import { getSiteConfig } from "@/site.config";
import { getLangFromUrl } from "@/i18n/ui";
import type { SiteMeta } from "@/types";

interface Props {
	meta: SiteMeta;
}

const currentLang = getLangFromUrl(Astro.url);
const config = getSiteConfig(currentLang);

const {
	meta: { articleDate, description = config.description, ogImage, title },
} = Astro.props;
---

<html
	class="overflow-x-hidden grid scroll-pt-20 scroll-smooth font-sans text-textColor text-xl md:text-base antialiased max-w-[100vw]"
	lang={config.locale}
>
	<head>
		<BaseHead articleDate={articleDate} description={description} ogImage={ogImage} title={title} />
		{/* Google tag (gtag.js) */}
		<script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-STKB6SZ61Y"></script>
		<script type="text/partytown">
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'G-STKB6SZ61Y');
		</script>
	</head>
	<body class="overflow-x-hidden relative m-auto min-h-screen w-full max-w-[100vw] grow bg-bgColor">
		<ThemeProvider />
		<SkipLink />
		<LanguageDetectionBanner />

		<!-- Background 
			TODO: This approach is not optimal and requires improvements. 
  			- Too many absolutely positioned elements can affect performance. 
  		-->	
		<div class="fixed top-0 left-0 right-0 min-h-screen w-full pointer-events-none blur-2xl overflow-hidden">
			<div class="absolute top-[-90%] right-[25%] w-[75%] h-full bg-gradient-to-b from-blue-300 via-pink-300 to-transparent rounded-full opacity-40 dark:opacity-5"></div>
			<div class="absolute top-[-90%] left-[25%] w-[75%] h-full bg-gradient-to-b from-blue-300 via-pink-300 to-transparent rounded-full opacity-40 dark:opacity-5"></div>
			<div class="absolute top-[-85%] right-[25%] w-[55%] h-full bg-gradient-to-b from-purple-300 via-blue-300 to-transparent rounded-full opacity-40 dark:opacity-5"></div>
			<div class="absolute top-[-85%] left-[25%] w-[55%] h-full bg-gradient-to-b from-indigo-300 via-orange-300 to-transparent rounded-full opacity-40 dark:opacity-5"></div>
			<div class="absolute top-[-75%] left-[-25%] w-[65%] h-full bg-gradient-to-b from-blue-300 via-pink-300 to-transparent rounded-full opacity-30 dark:opacity-5"></div>
			<div class="absolute top-[-75%] right-[-25%] w-[65%] h-full bg-gradient-to-b from-purple-300 via-blue-300 to-transparent rounded-full opacity-30 dark:opacity-5"></div>
			<div class="absolute top-[-85%] left-[-30%] w-[85%] h-full bg-gradient-to-b from-indigo-300 via-orange-300 to-transparent rounded-full opacity-60 dark:opacity-5"></div>
			<div class="absolute top-[-85%] right-[-30%] w-[85%] h-full bg-gradient-to-b from-orange-300 via-indigo-300 to-transparent rounded-full opacity-60 dark:opacity-5"></div>
		</div>
	
		<div class="relative flex min-h-screen w-full max-w-[100vw] overflow-x-hidden">
			<!-- Sidebar for Docs Series -->
			<slot name="sidebar" />
			<!-- Main container for the page content -->
			<div id="container" class="relative m-auto w-full max-w-full md:max-w-7xl grow overflow-x-hidden">
				<div class="m-auto grid min-h-screen md:grid-rows-[auto_auto_1fr] px-2 sm:px-4 md:px-8 md:pt-4 max-w-full">
					<Header />
					<main id="main" class="relative flex-grow mt-32 md:mt-[3.5rem] w-full max-w-full overflow-x-hidden">
						<slot />
					</main>
					<Footer />
				</div>
			</div>
		</div>
	</body>
</html>
